.pur_but {
  position: relative;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.pur_but:hover .dot {
  transform: translateY(-10px); /* Move dot up on hover */
}
.projects ul li {
  list-style: none;
  color: aqua;
  font-weight: bold;
}
.projects:hover ul {
  display: block !important;
}
